
body{
  font: 11px/140% Geneva, Verdana, Helvetica, Arial;
  background-color:#FFFFFF;
}


h1,h2{
  font-weight: bold; 
  text-decoration: none; 
  margin-top: 0px;
  margin-bottom: 3px; 
  color: #000000;
}
h1{
    font-size: 16px;
}
h2{
    font-size: 14px; 
}
div.wraper{
  margin:-8px;
}
div.main{
  background-color:#FFFFFF;
  padding:10px;
}
div.top
{
  background-color:#99CCFF;
  border-bottom:5px solid #000000;
  padding:10px;
}

div.sous_section{
  padding-left:20px;
  padding-top:5px;
}

div.erreurbox{
	font-size:12pt;
	border:2px solid #000000;
	padding:5px;
	color:red;
	background-color:#EEEEEE;
	width:50%;
}