<!--
/*******************************************************************************
Fichier : default/orange.css
Auteur : Maxime Bégin
Description : Fichier de styles pour math en jeu
********************************************************************************
27-07-2006 Maxime Bégin - Version initiale copié de bleu.css seulement pour démo.
*******************************************************************************/
-->

body {
	font: 11px Geneva, Verdana, Helvetica, Arial; /*"Comic Sans MS",Arial,helvetica,sans-serif;*/
	color: #333333;
	background: #FFFFFF;  
	margin: 0px;
	padding: 0px;
}

input, 
option,
textarea {
  font-size:15px;
}

input,
textarea,
select{
	font-size: 10pt;
	color: #000000;
	max-width: 500px; 
	background: #F3F3F3; /* #EBF2FD;  */
	border: 1px solid #000000;
	padding-left:4px;
	padding-right:4px;
}
select{
  padding-left:2px;
  padding-right:0px;
}

input:hover,
textarea:hover{
  border-color: #FF6600;
}

input:focus,
textarea:focus{
  background-color: #EBF2FD;
  border-color: #FF6600;
}

a:link{color:#CC6600;}
a:visited{color:#CC6600;}
a:hover{color:#6666CC;}
a:active{color:#6666CC;}


h1,h2 {
  color: #CC6600;
}
h1{
  font-size: 18pt; 
  font-weight: bold; 
  text-decoration: none; 
  margin-top: 0px;
  margin-bottom: 3px; 
}
h2{
  font-size: 16pt; 
  font-weight: bold; 
  text-decoration: none; 
  margin-top: 0px;
  margin-bottom: 3px; 
}
h4.titre_menu{
  font-size: 13px; 
  font-weight: bold; 
  text-decoration: none; 
  margin-top: 0px;
  margin-bottom: 3px; 
  color: #6666CC;
}

ul{
  list-style-type: disc;
}

a img, img {	border: 0px; }

.direction_critique{
  color:#FF6600;
  font-size:12px;
}
p.question {
  color: red;
}

.instruction{
	font-weight:lighter;
	font-size:12pt;
	color:#000000;
}

.commentaire{
  font-size:8pt;
  font-weight:lighter;
  color:#696969;
}

.asterix{
  color:#FF6600;
}

.message{
  font-size:10pt;
  font-weight: bold;
  color:green;
}
.erreur{
  font-size:10pt;
  font-weight: bold;
  color:red;
}
.erreur2{
  font-size:10pt;
  font-weight: bold;
  color:red;
}

.hr{
  border-top: 1px solid #CC6600;
}

.bgcolor{
    background-color:#FFFFFF;
}

div.menu{
  background-color: #F3F3F3;
  margin-right:5%;
}

div.main{
  background-color: #F3F3F3;
  border-top: 4px groove #CC6600;
  border-left: 1px solid #CC6600;
  border-right: 4px groove #CC6600;
  border-bottom: 1px solid #CC6600;
  margin:2%;
}
div.centre{
  margin: 2%;
  /*padding:2px;*/
}

div.sondage{
  font: 12px/140% Geneva, Verdana, Helvetica, Arial;
  background-color: #F3F3F3;
  border: 1px solid #CC6600;
}
div.sondageDetail{
  margin:2%;
}

td.centre{
  background-color: #F3F3F3;
  border: 1px solid #CC6600;
}
td.menu{
  background-color: #F3F3F3;
  padding:10px;
  border: 2px solid #CC6600;
}
.titresondage{
  font-size: 11pt;
  font-weight: bold;
}
.reponsesondage{
    /*font-size: 10pt;*/
}
.totalsondage{
    font-size: 8pt;
}

.titrenouvelle{
    font-weight: bold;
    font-size:11pt;
}
.datenouvelle{
  font-size: 9pt;
}
.textenouvelle{
    font: 12px/140% Geneva, Verdana, Helvetica, Arial;
    /*font-size: 10pt;*/
}

table.tableau{
  color:#000000;
  background-color: #F3F3F3;  
  border-top: 1px solid #6666CC;
  border-right: 1px solid #6666CC;
  border-bottom: 1px solid #6666CC;
  border-left: 1px solid #6666CC;
}

td.haut_gauche{
  background-image:url('img/coin_haut_gauche_bleu.png');
  background-repeat: no-repeat;
}

td.haut_droite{
  background-image:url('img/coin_haut_droite_bleu.png');
  background-repeat: no-repeat;
}
td.bas_gauche{
  background-image:url('img/coin_bas_gauche_bleu.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}
td.bas_droite{
  background-image:url('img/coin_bas_droite_bleu.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

tr.tableau_head{
  background-color:#6666CC;
  color:#FFFFFF;
}

tr.tableau{
  color:#000000;
}
tr.tableau1{
  background-color:#EBF2FD;
  color:#000000;
}
tr.tableau2{
  background-color:#FFFFFF;
  color:#000000;
}
tr.tableau_mouse_over{
  background-color:#CCCCFF;/*#8C8CD9*/
  color:#000000;
}

tr.tableau_joueur_selectioner{
  background-color:#FFAA55;/*#FFAA55*/
  color:#000000;
}

